<h1>Sorry, you've met a random error, please refresh the page.</h1>
<h1 style="color:red">Error code: {{err}}</h1>
<h1>You can look at my waifu then refresh the page.</h1>
<h1>Sorry for the inconvenience 😭</h1>
<img style= "height: 720px; width: 520px; margin-left: 250px"  src="/img/notDoneYet.jpg" alt="">