<h3>Sorry, you've met an error, please refresh the page.</h3>
<h3 style="color:red">Error code: {{err}}</h3>
<h3>You can look at this cat then refresh the page.</h3>
<h3>Sorry for the inconvenience 😭</h3>
<img style ="width: {{catWidth}}px, height: {{catHeight}}px" src="{{cat}}" >