<div class="mt-4">
    <div class="row">
        <div class="col-lg-3 img-size">
            <div class="container mt-4" >
                <div class="col-md-2 offset-md-1">
                    <img src="https://i.pinimg.com/474x/e6/e2/d0/e6e2d0e4989ad9a60fbd1c638714864b.jpg" alt="" class="img-circle">
                </div>
                <div class="container mt-4">
                    <h2>
                        {{user.userName}}
                    </h2>
                    <h3><i>{{user.nickName}}</i></h3>
                    <ul class = "flex-menu">
                        <li><strong>41</strong> posts</li>
                        <li><strong>47k</strong> followers</li>
                        <li><strong>208</strong> following</li>
                    </ul>
                </div> 
            </div>
    </div>
        <div class="col-lg-9">
            <h2> {{review.bookName}} </h2>
            <p class="font-monospace">This is a {{review.content}} review</p>
        </div>
    </div>
</div>