<div class="mt-4">
    <div class="row">
        <div class="col-lg-3 img-size">
            <img src="{{tweet.img}}" alt="">
            <div class="container">
                <div class="vertical-center" >
                </div>
            </div>
        </div>


{{!-- review part --}}
        <div class="col-lg-9">
            <h2> {{tweet.bookName}} </h2>
            <p class="font-monospace">{{tweet.content}}</p>
        <div>
    </div>
</div>