<div class="mt-4">
    <div class="row">
        <div class="col-lg-3 img-size">
            <img src="{{tweet.img}}" alt="">
            <div class="container">
                <div class="vertical-center" >
                    <a href="https://tiki.vn/rung-na-uy-tai-ban-lan-3-p572292.html?itm_campaign=SRC_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.8397_Y.63768_Z.209866_CN.9358028304107---Rung-na-uy&itm_medium=CPC&itm_source=tiki-ads&spid=7370281">
                    <button>Mua sách ngay</button>
                    </a>
                </div>
            </div>
        </div>


{{!-- review part --}}
        <div class="col-lg-9">
            <h2> {{tweet.bookName}} </h2>
            <p class="font-monospace">This is a {{tweet.content}} review</p>
        <div>
    </div>
</div>