<div class="mt-4">
    <h3>Đăng reviews</h3>

    <form method="POST" id="form-1" enctype = "multipart/form-data">
        <div class="mb-3 form-group">
            <label for="bookName">Tên sách</label>
            <input type="text" class="form-control" id="bookName" name="bookName">
            <span class="form-message"></span>
        </div>
        <div class="mb-3 form-group">
            <label for="content">Review</label>
            <textarea class="form-control" id="content" name="content"></textarea>
            <span class="form-message"></span>
        </div>
        <div class="mb-3 form-group">
            <label for="author">Tác giả</label>
            <input type="text" class="form-control" id="author" name="author">
            <span class="form-message"></span>
        </div>
        <div class="mb-3 form-group">
            <label for="formFile" class="form-label">Hình minh họa</label>
            <input class="form-control" type="file" name ="img">
            <span class="form-message"></span>
        </div>
        <button type="submit" class="btn btn-primary">Đăng</button>
    </form>

</div>